DBI
RColorBrewer 
RPostgres  
aws.s3 
configr 
credentials 
curl 
data.table 
digest 
doParallel 
doSNOW 
dotenv 
dplyr 
ellipsis 
evaluate 
extrafont 
extrafontdb 
fastmap 
fontawesome 
foreach 
gtable
ggplot2 
ggrepel 
ggtext 
glue 
gridtext 
htmltools 
htmlwidgets 
iterators 
janitor 
jsonlite 
knitr 
lubridate 
magick 
magrittr 
markdown 
officer 
openssl 
openxlsx 
pdftools 
progress 
purrr 
readr 
readxl 
rematch 
rematch2 
remotes 
reticulate 
rjson 
rlang 
rmarkdown 
roxygen2 
rstudioapi 
sessioninfo 
shiny 
snakecase 
snow 
sourcetools 
stringdist 
stringi 
stringr 
sys 
systemfonts
tibble 
tidyverse
utf8 
whisker 
xtable  
zip 